<table class = "profile" summary="Profile information">
	<tr>
		<td class = "main">
			<h1><%= @debater.name %></h1>
			<%= @debater.email %>
			<% if signed_in? %>
				<%= render 'follow_form' %>
				<%= render 'block_form' %>
			<% end %>
		</td>
		<td class = "sidebar round">
			<strong>Username:</strong> <%= link_to @debater.name, @debater %> <br />
			<%= render 'stats' %>
		</td>
	</tr>
</table>