<table class= "profile" summary="Information about following/followrs">
	<tr>
		<td class="main">
			<h1><%= @title %></h1>
			<% unless @debaters.empty? %>
				<ul class="debaters">
					<%= render @debaters %>
				</ul>		
				<%= will_paginate @debaters %>
			<% end %>
		</td>
	
		<td class="sidebar round">
			<strong>Username:</strong> <%= link_to @debater.name , @debater %> <br /><br />
			<%= render 'stats' %>
			<br />
		</td>
	</tr>
</table>