<span class="page-title"><h1><%= @debater.name %></h1></span>

<div class = "profile">
	<div class = "sidebar round">
		<%= render 'stats' %>
		<% if signed_in? %>
			<%= render 'follow_form' %>
			<%= render 'block_form' %>
		<% end %>
	</div>
</div>

<div class="profile_container">
	<h2>Total Debates: <%= @debates.count + @debater.judgings.count %></h2>
	<div class="profile_box">
		<h3>Debates Participated In: <%= @debates.count %></h3>
		<ul>
			<li> Won: <%= @debateswon %></li>
			<li> Lost: <%= @debateslost %></li>
			<li> Total Upvotes: <%= @positivevotes %></li>
			<li> Total Downvotes: <%= @negativevotes %></li>
			<li> Total Arguments: <%= @debater.arguments.count %>
		</ul>
	</div>
	<div class="profile_box">
		<h3>Debates Judged: <%= @debater.judgings.count %> </h3>
		<ul>	
			<li>Judge Points: N/A (Beta) </li>
		</ul>
	</div>
	<div class="profile_box">
		<h3>Recent Debates</h3>
		<ul>
			<% if @recentdebates.empty? %>
				You Have Not Participated in Any Debates!
			<% else %>
				<% @recentdebates.each do |debate| %>
					<li> <%= link_to debate.topic, debate %> </li>
				<% end %>
			<% end %>
		</ul>
		
	</div>
</div>