<span class="page-title" style="float:left;"><h1>Debunker: <%= @debater.name %></h1></span>

<div class = "profile">
	<div class = "sidebar round">
		Rank: Coming Soon.
		<%= render 'stats' %>
		<% if signed_in? %>
			<%= render 'follow_form' %>
			<%= render 'block_form' %>
		<% end %>
	</div>
</div>


	<div class="profile_box">
		<h3> Statistics </h3>
		<div class = "stat-heading">Debates Participated</div>
		<div class = "stat-heading">Debates Won </div>
		<div class = "stat-heading">Debates Lost </div>
		<div class = "stat-heading">No Results </div>
		<div class = "stat-heading">Debates Judged </div>
		<div class = "stat-heading">Judge Points </div>
		<div class = "stat-heading">UpVotes </div>
		<div class = "stat-heading">DownVotes </div>
		<br>
		<div class = "stat-heading"><h4><%= @debates.count %></h4></div>
		<div class = "stat-heading"><h4 style="color:#0000FF"><%= @debateswon %></h4></div>
		<div class = "stat-heading"><h4><%= @debateslost %></h4></div>
		<div class = "stat-heading"><h4><%= @debatesnoresults %></h4></div>
		<div class = "stat-heading"><h4><%= @debater.judgings.count %></h4></div>
		<div class = "stat-heading"><h4 style="color:#0000FF"><%= @debater.judge_points %></h4></div>
		<div class = "stat-heading"><h4><%= @positivevotes %></h4></div>
		<div class = "stat-heading"><h4><%= @negativevotes %></h4></div>
		
	</div>
	
	<% if !@teammates.empty? %>
		<div class="profile_box">
			<h3> Team Statistics </h3>
			<div class = "stat-heading">Total Debates</div>
			<div class = "stat-heading">Debates Won </div>
			<div class = "stat-heading">Debates Lost </div>
			<div class = "stat-heading">No Results </div>
			<div class = "stat-heading">Debates Judged </div>
			<div class = "stat-heading">Judge Points </div>
			<div class = "stat-heading">UpVotes </div>
			<div class = "stat-heading">DownVotes </div>
			<br>
			<div class = "stat-heading"><h4><%= @teamdebates %></h4></div>
			<div class = "stat-heading"><h4 style="color:#0000FF"><%= @teamdebateswon %></h4></div>
			<div class = "stat-heading"><h4><%= @teamdebateslost %></h4></div>
			<div class = "stat-heading"><h4><%= @teamdebatesnoresults %></h4></div>
			<div class = "stat-heading"><h4><%= @teamjudgings %></h4></div>
			<div class = "stat-heading"><h4 style="color:#0000FF"><%= @teamjudgepoints %></h4></div>
			<div class = "stat-heading"><h4><%= @teampositivevotes %></h4></div>
			<div class = "stat-heading"><h4><%= @teamnegativevotes %></h4></div>
		</div>
	<% end %>
	
	<div class="debatelist_container" style="margin:8px;padding:10px;padding-top:0;">
		<h3>Recent Debates</h3>
		<div class = "topic-link-width topic-heading" > Topic </div>
		<div class = "topic-starter-width topic-heading" > Winner </div>
		<div class = "topic-argument-width topic-heading" style="height: 30px;"> Judge Comments </div>	
			<div id="recent-debates" class="containercontent">
				<% if @recentdebates.empty? %>
					You Have Not Participated in Any Debates!
				<% else %>
					<% @recentdebates.each do |debate| %>
											<%# unless debate.tp.nil? %>
												<!-- ><li> <%# link_to debate.tp.topic, debate %> </li> -->
											<%# end %>
						<div class="debate_link" data-id="<%= debate.id %>"> 
							<li> 
								<div class = "topic-link-width">
									<span class = "debate-link-topic">
									<%= link_to debate.tp.topic, debate %> </span>
								</div> 
								<div class = "topic-starter-width">
									<% winner = Debater.find_by_id(debate.winner_id) %>
									<% if !winner.nil? %>
										<% if winner.last_sign_in_at %>
											<%= link_to winner.name, winner %>
										<% else %>
											<%= winner.mini_name %>
										<% end %>
									<% else %>
										&nbsp
									<% end %>
								</div>
								<div class = "topic-argument-width">
									<% @judge_comments = debate.judge_entry.comments %>
									<% if !@judge_comments.nil? %>
										- <%= link_to "\"#{@judge_comments[0..14]}\"", debate, :title => @judge_comments %>
									<% else %>
										&nbsp
									<% end %>
								</div> 
							</li>
						</div>
					<% end %>
				<% end %>
			</div>	
	</div>
