<div class = "profile">
		<div class="main">
			<h1><%= @title %></h1>
			<% unless @debaters.empty? %>
				<ul class="debaters">
					<%= render @debaters %>
				</ul>		
				<%= will_paginate @debaters %>
			<% end %>
		</div>
	
		<div class="sidebar round">
			<strong>Username:</strong> <%= link_to @debater.name , @debater %> <br /><br />
			<%= render 'stats' %>
			<br />
		</div>

</div>