<span class="page-title" style="float:left;"><h1>Debunker: <%= @debater.name %></h1></span>

<div class = "profile">
	<div class = "sidebar round">
		Rank: Coming Soon.
		<%= render 'stats' %>
		<% if signed_in? %>
			<%= render 'follow_form' %>
			<%= render 'block_form' %>
		<% end %>
	</div>
</div>

<!--	<h2>Total Debates: <%= @debates.count + @debater.judgings.count %></h2>
	<div class="profile_box">
		<h3>Debates Participated In: <%= @debates.count %></h3>
		<ul>
			<li> Won: <%= @debateswon %></li>
			<li> Lost: <%= @debateslost %></li>
			<li> No Judging Results: <%= @debatesnoresults %> </li> <br />
			
			<li> Upvotes: <%= @positivevotes %> (<%= @arguments == 0 ? 0 : (@positivevotes.to_f / @arguments) %> per argument)</li>
			<li> Downvotes: <%= @negativevotes %> (<%= @arguments == 0 ? 0 : (@negativevotes.to_f / @arguments) %> per argument)</li>
		</ul>
	</div>
	<div class="profile_box">
		<h3>Debates Judged: <%= @debater.judgings.count %> </h3>
		<ul>	
			<li>Judge Points: <%= @debater.judge_points %> </li>
		</ul>
	</div> -->
	
	<div class="profile_box">
		<h3> Statistics </h3>
		<div class = "stat-heading">Debates Participated</div>
		<div class = "stat-heading">Debates Won </div>
		<div class = "stat-heading">Debates Lost </div>
		<div class = "stat-heading">No Results </div>
		<div class = "stat-heading">Debates Judged </div>
		<div class = "stat-heading">Judge Points </div>
		<div class = "stat-heading">UpVotes </div>
		<div class = "stat-heading">DownVotes </div>
		<br>
		<div class = "stat-heading"><h4><%= @debates.count %></h4></div>
		<div class = "stat-heading"><h4 style="color:#0000FF"><%= @debateswon %></h4></div>
		<div class = "stat-heading"><h4><%= @debateslost %></h4></div>
		<div class = "stat-heading"><h4><%= @debatesnoresults %></h4></div>
		<div class = "stat-heading"><h4><%= @debater.judgings.count %></h4></div>
		<div class = "stat-heading"><h4 style="color:#0000FF"><%= @debater.judge_points %></h4></div>
		<div class = "stat-heading"><h4><%= @positivevotes %></h4></div>
		<div class = "stat-heading"><h4><%= @negativevotes %></h4></div>
		
	</div>
	
	<div class="profile_box">
		<h3>Recent Debates</h3>
		<ul>
			<% if @recentdebates.empty? %>
				You Have Not Participated in Any Debates!
			<% else %>
				<% @recentdebates.each do |debate| %>
					<% unless debate.tp.nil? %>
						<li> <%= link_to debate.tp.topic, debate %> </li>
					<% end %>
				<% end %>
			<% end %>
		</ul>
		
	</div>
