<table class = "profile" summary="Profile information">
	<tr>
		<td class = "main">
			<h1><%= @debater.email %></h1>
			<% if signed_in? %>
				<%= render 'follow_form' %>
				<%= render 'block_form' %>
			<% end %>
		</td>
		<td class = "sidebar round">
			<strong>Email</strong> <%= @debater.email %> <br />
			<strong>URL</strong> <%= link_to debater_path(@debater), @debater %> <br />
			<%= render 'stats' %>
		</td>
	</tr>
</table>