<div class="signup_container">
	<h2>Register</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

		<div><%= f.label "Username" %> <br />
		<%= f.text_field :name %> </div>
	
	  	<div><%= f.label :email %><br />
	  	<%= f.email_field :email %></div>

		<div><%= f.label :password %><br />
	  	<%= f.password_field :password %></div>

	  	<div><%= f.label :password_confirmation %><br />
	  	<%= f.password_field :password_confirmation %></div>

	  	<div><%= f.submit "Register" %></div>
	<% end %>
	<br />
	Already have an account?
	
	<%- if devise_mapping.registerable? && controller_name != 'sessions' %>
  		<%= link_to "Click here.", new_session_path(resource_name) %><br />
	<% end -%>
</div>

<!-- <%= render :partial => "devise/shared/links" %> -->
