<div class="argument" data-time="<%= argument.created_at.to_i %>"> <%= argument.content %> </div>

<%= form_tag votes_path, :method => 'post', :remote => true, :class => 'vote' do %>
  <%= submit_tag "(+)", :vote => true %>
<% end %>

<%= form_tag votes_path, :method => 'post', :remote => true, :class => 'vote' do %>
  <%= submit_tag "(-)", :vote => false %>
<% end %>

<%-# form for upvote with javascript, number of upvotes; form for downvotes, number of downvotes %>