<% argcreator = argument.debater.creator?(debate) %>
<div class="argument_container <%= argcreator ? "creator" : "joiner" %>">
	<div class="<%= argcreator ? "name-creator" : "name-joiner" %>"> <%= argument.debater.mini_name %>
		</div>:
	<span class = "argument"><%= argument.any_footnotes ? argument.show_footnote : argument.content %>
		<% if argument.image_url %>
			<br />
			<%= image_tag(argument.image_url, :onMouseOver => "imgEnlarge(this);", :onMouseOut => "imgReduce(this);") %>
		<% end %>
	</span>
	
	
</div>

<div class = "votes" data-argument_id = "<%= argument.id %>">	
	<% if currentid != judgeid %>
			<%= render :partial => "/votes/vote", :locals => {:argument => argument, :judgeid => judgeid, :status => status, :currentid => currentid} %>
	<% else %>
			<%= render :partial => "/votes/vote_judge", :locals => {:argument => argument, :judgeid => judgeid, :status => status, :currentid => currentid} %>
	<% end %>
</div>