<div class = "post_to_debate <%= hidden %>", data-id="<%= debate.id %>">
	<span style="margin-left: 240px;">
		<%= image_tag("image_link.jpg", :alt => "Add Image", :onclick => '$("#image_url_field").toggle(); $("#imagelabel").toggle();', :size => "25x25", :id => "add_image") %>
	</span>
	<%= form_for Argument.new, :html => {:id => 'argument_debunk', :name => 'debunkform'}, :remote => true do |f| %>
		<div class = "field">
			<%= f.text_area :content, :size => "36x5", :onkeyup => "textCounter(this, 1000);", :id => "argument_textarea" %>
		</div>
		<%= f.hidden_field :debate_id, :value => debate.id %>
		<%= f.label "Image address:", :id => "imagelabel", :hidden => true %>
		<%= f.url_field :image_url, :hidden => true, :value => "http://", :id => "image_url_field", :onClick => "this.select();", :size => 46 %>
		<div class = "action">
			<%= f.submit "deBunk!", :disable_with => 'Debunking...', :id => "debunk_button" %>
		</div>	
	<% end %>
</div>
