<div class="debate_link_unjoined <%= debate.topic_position.position == true ? "pro" : "con" %>", data-id="<%= debate.id %>", data-created-at="<%= debate.created_at.to_i %>"> 
	
	<li>: <%= "#{debate.topic_position.topic}"%> >>> <%= link_to debate.topic, "/judgings/create/#{debate.id}" %> </li>
	
</div>