<!-- must pass in judging to partial!!! -->
<div class='judging_results'>
	<strong>Winner:</strong> 
	<% if judging.winner_id == 0 %>
		<%= "Draw." %>
	<% else %>
		<% judging.winner_id == creator.id ? debater = creator : debater = joiner %>
		<% if !debater.guest? %>
			<%= link_to debater.name, debater %>
		<% else %>
			<%= debater.name %>
		<% end %>
	<% end %>
	<br> 
	
	<strong>Judge <%= link_to judging.debater.name, judging.debater %> says:</strong> "<%= judging.comments %>". <br />
		<% unless is_judger %>
			<span id="results-vote-info" style="color: #0000FF;">Judge's votes are blue. </span>
		<% end %>
	
</div>