<!-- must pass in judging to partial!!! -->
<div class='judging_form'>
	<%= form_for judging, :remote => true, :url => submission_judging_path(judging) do |f| %>
		<div class = "field">
			<%= f.select(:winner_id, [[judging.debate.creator.email, judging.debate.creator.id], [judging.debate.joiner.email, judging.debate.joiner.id]]) %><br />
			<%= f.label :comments %> <br/>
			<%= f.text_field :comments %>
		</div>
		<div class = "action">
			<%= f.submit "Submit" %>
		</div>	
	<% end %>
</div>