<!-- must pass in judging to partial!!! -->
<div class='judging_results'>
	<strong>Winner:</strong> 
	<% if judging.winner_id == 0 %>
		<%= "Draw." %>
	<% else %>
		<% debater = Debater.find(judging.winner_id) %>
		<% if !debater.guest? %>
			<%= link_to debater.name, debater %>
		<% else %>
			<%= debater.name %>
		<% end %>
	<% end %>
	<br> 
	
	<strong>Judge <%= link_to judging.debater.name, judging.debater %> says:</strong> "<%= judging.comments %>"
	
</div>