<!-- must pass in judging to partial!!! -->
<div class='judging_form'>
	<%= form_for judging, :remote => true, :url => submission_judging_path(judging) do |f| %>
		<div class = "field">
			Select a winner:<br>
			<%= f.select(:winner_id, [["Draw", 0], [judging.debate.creator.name, judging.debate.creator.id], [judging.debate.joiner.name, judging.debate.joiner.id]]) %><br />
			<%= f.label :comments %> <br/>
			<%= f.text_area :comments, :size => "10x2", :onkeyup => "textCounter(this, this.form.current_count, 1000);" %>
		</div>
		<div class = "action">
			<%= f.submit "Submit" %>
		</div>	
	<% end %>
</div>