<h2>Completed</h2>
<div class = "topic-link-width topic-heading" > Topic </div>
<div class = "topic-starter-width topic-heading" > Winner </div>
<div class = "topic-argument-width topic-heading" style="height: 30px;"> Judge Comments </div>

<div class="containercontent" style="max-height: 300px;">	
	<% debates_completed.each do |debate| %>
		<div class="debate_link" data-id="<%= debate.id %>"> 
			<li> 
				<div class = "topic-link-width" title="<%= debate.tp.topic %>">
					<span class = "debate-link-topic">
					<%= link_to debate.tp.topic, debate %> </span>
					<% if debate.tp.position == true %>
						<span class = "pro">&nbsp</span>
					<% else %> 
					<% if debate.tp.position == false %>
						<span class = "con">&nbsp</span>
					<% end %>
					<% end %>
				</div> 
				<div class = "topic-starter-width">
					<% if debate.winner_id == 0 %>
						<%= "Draw." %>
					<% else %>
						<% winner = Debater.find_by_id(debate.winner_id) %>
						<% if !winner.nil? %>
							<% if winner.last_sign_in_at %>
								<%= link_to winner.name, winner %>
							<% else %>
								<%= winner.mini_name %>
							<% end %>
						<% else %>
							&nbsp
						<% end %>
					<% end %>
				</div>
				<% judge_comments = debate.judge_entry.comments[0..150] unless debate.judge_entry.nil? or debate.judge_entry.comments.nil? %>
				<div class = "topic-argument-width" title="<%= judge_comments %>">	
					<% if !judge_comments.nil? %>
						<%= link_to "\"#{judge_comments[0..14]}\"", debate %>
					<% else %>
						&nbsp
					<% end %>
				</div> 
			</li>
		</div>
	<% end %>

	<div class="list_pagination">
		<%= will_paginate debates_completed, :param_name => :completed_page %>
	</div>
</div>