<div class = "post_to_debate", data-id="<%= debate.id %>">
	<%= form_for Argument.new, :url => join_debate_path(debate.id), :html => {:name => 'postdebateform', :before => "return checkEmpty('postdebateform', 'argument[content]'); "}, :remote => true do |f| %>
		<div class = "field">
			<!-- <%= f.label :content %> <br /> -->
			<%= f.text_area :content, :size => "36x5", :onkeyup => "textCounter(this, 1000); checkEmpty2(this, '#respond_button')" %><br />
		</div>
	    <%= f.hidden_field :debate_id, :value => debate.id %>
		<div class = "action">
			<%= f.submit "Respond", :disable_with => 'Responding...', :disabled => true, :id => 'respond_button' %>
		</div>	
	<% end %>
</div>
