<div class = "post_to_debate", data-id="<%= debate.id %>">
	<%= form_for Argument.new, :remote => true, :url => join_debate_path(debate.id) do |f| %>
		<div class = "field">
			<!-- <%= f.label :content %> <br /> -->
			<%= f.text_area :content, :size => "36x5", :onkeyup => "textCounter(this, 1000);" %><br />
			<%= f.label "Allotted Seconds" %> <br/>
			<%= f.number_field :time_left, :value => 10 %>
		</div>
	    <%= f.hidden_field :debate_id, :value => debate.id %>
		<div class = "action">
			<%= f.submit "Respond" %>
		</div>	
	<% end %>
</div>
