<%= form_for Argument.new, :remote => true, :url => join_debate_path(debate.id) do |f| %>
	<div class = "field">
		<%= f.label :content %> <br />
		<%= f.text_area :content, :size => "36x5" %><br />
		<%= f.label "Allotted Minutes" %> <br/>
		<%= f.number_field :time_left, :value => 10 %>
	</div>
    <%= f.hidden_field :debate_id, :value => debate.id %>
	<div class = "action">
		<%= f.submit "argument" %>
	</div>	
<% end %>