<div class="debatelist_container">
	<h2>Ongoing Debates</h2>

	<div id="ongoing-debates" class="containercontent">
		<% @debates_ongoing.each do |debate| %>
			<div class="debate_link" data-id="<%= debate.id %>"> 
				<li> <span class = "debate-link-topic">
				<%= link_to debate.tp.topic, debate %> </span>
				<% if debate.tp.position == true %>
					<span class = "pro">&nbsp</span>
				<% else %> 
				<% if debate.tp.position == false %>
					<span class = "con">&nbsp</span>
				<% end %>
				<% end %> 
				- <%= link_to "\"#{debate.topic}\"", debate %> </li>
			</div>
		<% end %>
	</div>
</div>

<!-- <br><br>Debates Waiting for Judge or Joiner
<%# @debates_in_limbo.each do |debate| %>
	<li> <%# link_to debate.topic, debate %> </li>
<%# end %> -->

<div class="debatelist_container">
	<h2>Completed Debates</h2>
	
	<div id="completed-debates" class="containercontent">
		<% @debates_completed.each do |debate| %>
			<div class="debate_link" data-id="<%= debate.id %>"> 
				<li> <span class = "debate-link-topic">
				<%= link_to debate.tp.topic, debate %> </span>
				<% if debate.tp.position == true %>
					<span class = "pro">&nbsp</span>
				<% else %> 
				<% if debate.tp.position == false %>
					<span class = "con">&nbsp</span>
				<% end %>
				<% end %> 
				- <%= link_to "\"#{debate.topic}\"", debate %> </li>
			</div>
		<% end %>
	</div>
</div>