<div class="debatelist_container">
	<h2>Ongoing Debates</h2>
	<div class = "topic-link-width topic-heading" > Topic </div>
	<div class = "topic-starter-width topic-heading" > Creator </div>
	<div class = "topic-argument-width topic-heading"> Start Time </div>
	<div id="ongoing-debates" class="containercontent">
		<% @debates_ongoing.each do |debate| %>
			<div class="debate_link" data-id="<%= debate.id %>"> 
				<li> 
					<div class = "topic-link-width">
						<span class = "debate-link-topic">
						<%= link_to debate.tp.topic, debate %> </span>
						<% if debate.tp.position == true %>
							<span class = "pro">&nbsp</span>
						<% else %> 
						<% if debate.tp.position == false %>
							<span class = "con">&nbsp</span>
						<% end %>
						<% end %>
					</div>
					<div class = "topic-starter-width">
						<% starter = Debater.find_by_id(debate.creator_id) %>
						<% starter.nil? ? starter = Debater.find_by_id(1) : nil %> <%# Remove This %>
						<% if starter.last_sign_in_at %>
							<%= link_to starter.name, starter %>
						<% else %>
							<%= starter.mini_name %>
						<% end %>
					</div> 
					<div class = "topic-argument-width" style="font-size: 12px;">
						 <%= "#{(Time.now - debate.judge_entry.created_at).to_i.seconds} seconds ago" %>
					</div> 
				</li>
			</div>
		<% end %>
	</div>
</div>

<!-- <br><br>Debates Waiting for Judge or Joiner
<%# @debates_in_limbo.each do |debate| %>
	<li> <%# link_to debate.topic, debate %> </li>
<%# end %> -->

<div class="debatelist_container">
	<h2>Completed Debates</h2>
	<div class = "topic-link-width topic-heading" > Topic </div>
	<div class = "topic-starter-width topic-heading" > Winner </div>
	<div class = "topic-argument-width topic-heading" style="height: 30px;"> Judge Comments </div>
	
	<div id="completed-debates" class="containercontent">	
		<% @debates_completed.each do |debate| %>
			<div class="debate_link" data-id="<%= debate.id %>"> 
				<li> 
					<div class = "topic-link-width">
						<span class = "debate-link-topic">
						<%= link_to debate.tp.topic, debate %> </span>
						<% if debate.tp.position == true %>
							<span class = "pro">&nbsp</span>
						<% else %> 
						<% if debate.tp.position == false %>
							<span class = "con">&nbsp</span>
						<% end %>
						<% end %>
					</div> 
					<div class = "topic-starter-width">
						<% winner = Debater.find_by_id(debate.winner_id) %>
						<% if !winner.nil? %>
							<% if winner.last_sign_in_at %>
								<%= link_to winner.name, winner %>
							<% else %>
								<%= winner.mini_name %>
							<% end %>
						<% else %>
							&nbsp
						<% end %>
					</div>
					<div class = "topic-argument-width">
						<% @judge_comments = debate.judge_entry.comments %>
						<% if !@judge_comments.nil? %>
							- <%= link_to "\"#{@judge_comments[0..14]}\"", debate, :title => @judge_comments %>
						<% else %>
							&nbsp
						<% end %>
					</div> 
				</li>
			</div>
		<% end %>
	</div>
</div>