<!-- local variable @status passed in from debates controller show action -->
<div class='statuspanel'>
	<div class="status">
		<h2 status_code="<%= status[:status_code] %>"><%= status[:status_value]%></h2>
	</div>
	<div class="individual-status-bar">
		<div id="debater1" class="individual-status" currently_viewing="<%= debate.currently_viewing("creator") ? "true" : "false" %>"> 
			Debunker1 
		</div>
		<div id="debater2" class="individual-status" currently_viewing="<%= debate.currently_viewing("joiner") ? "true" : "false" %>"> 
			<%= "Debunker2" if debate.joined %> 
		</div>
		<div id="judge" class="individual-status" currently_viewing="<%= debate.currently_viewing("judge") ? "true" : "false" %>"> 
			<%= "Judge" if debate.judge %>
		</div> 
	</div><br><br>
</div>