<div class="timer">
	<span class="timertitle-1">
	<% if !creator.guest? %>
		<%= link_to debater1name, creator %>
	<% else %>
		<%= debater1name %>
	<% end %>
	: &nbsp;</span>
	<span id="timer1-<%= debate_id %>"></span>
</div>



<div class="timer">
	<span class="timertitle-2">
		<% if joiner.nil? %>
			<%= debater2name %>
		<% else %>
			<% if !joiner.guest? %>
				<%= link_to debater2name, joiner %>
			<% else %>
				<%= debater2name %>
			<% end %>
		<% end %>
		: &nbsp;</span>
	<span id="timer2-<%= debate_id %>"></span>
</div>

<div class="vote_titles">
	Votes
	<% debater_signed_in? ? vote_tip = "Click on the numbers below to upvote or downvote an argument." : vote_tip = "Sign up for the ability to vote and be ranked!" %>
	<div class="info-icon" id="info-votes" title="<%= vote_tip %>">
		<%= image_tag("question.gif", :alt => "Voting Help") %>
	</div>
</div>

