<div class="timer"><div class="timertitle"><%= debater1 %>: &nbsp;</div><span id="timer1-<%= debate_id %>"></span></div>
<span id="judge-<%= debate_id %>" class="judge">
	<% if judge %>
		<img src = "/assets/gavel.png"></img>
	<% end %>
</span>
<div class="timer"><div class="timertitle"><%= debater2 %>: &nbsp;</div><span id="timer2-<%= debate_id %>"></span></div>

