<h1>Ongoing Debates</h1>

<p id="testing">No AJAX</p>

<%= form_tag debates_path, :method => 'get', :remote => true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @debates.each do |debate| %>
  <li> <%= link_to debate.topic, debate %> </li>
<% end %>

<p>What to create a new debate? <%= link_to "Create!", new_debate_path %></p>