<h1>Ongoing Debates</h1>

<%= form_tag debates_path, :method => 'get', :remote => true, :class => 'search_debates' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="list_of_debates"><%= render 'debates/list_of_debates' %></div>

<!-- <p>Create a new debate! <%= link_to "Create!", new_debate_path %></p> -->
