<span class="page-title"><h1>List of Debates</h1></span>
<br>

<div class="search_container">
	<%= form_tag debates_path, :method => 'get', :remote => true, :class => 'search_debates' do %>
	    <%= text_field_tag :search, params[:search] %><br>
	    <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>
<br>

<div id="list_of_debates"><%= render 'debates/list_of_debates' %></div>

<!-- <p>Create a new debate! <%= link_to "Create!", new_debate_path %></p> -->
