<%= javascript_include_tag "timed_out" %>

<span class="page-title"><h1>List of Debates</h1></span>
<br>

<div class="search_container">
	<%= form_tag debates_path, :method => 'get', :remote => true, :class => 'search_debates' do %>
	    <%= text_field_tag :search, params[:search] %><br>
	    <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>
<br>

<div class="debatelist_container" id="ongoing_debates">
	<%= render :partial => 'ongoing_debates', :locals => {:debates_ongoing => @debates_ongoing} %>
</div>

<div class="debatelist_container" id="completed_debates">
	<%= render :partial => 'completed_debates', :locals => {:debates_completed => @debates_completed} %>
</div>

<script>	
$(document).ready(function() {
    // Make pagination submit ajax
	$('.pagination a').attr('data-remote', 'true');
});
</script>

<!-- <p>Create a new debate! <%= link_to "Create!", new_debate_path %></p> -->
