<h1>Ongoing Debates</h1>

<p class="testing">No AJAX</p>

<%= form_tag debates_path, :method => 'get', :remote => true, :class => 'search_debates' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<p class="list_of_debates"><%= render 'debates/list_of_debates' %></p>

<p>What to create a new debate? <%= link_to "Create!", new_debate_path %></p>