<span class="page-title"><h1>DeBunk!</h1></span>

<span class="waiting-icon"><%= render :partial => "/debates/waiting", :locals => {:debate => @debate} %> </span>

<br />

<!-- <%= javascript_include_tag "short_polling" %> -->
<%= javascript_include_tag "voting" %>
<%= javascript_include_tag "exit_tracking" %>
<%= javascript_include_tag "timer_countdown" %>
<%= javascript_include_tag "tracking" %>
<%= javascript_include_tag "jquery.qtip.js" %>


<%= render :partial => "/shared/init_juggernaut" %>

<script>
	voteable[<%= @debate.id %>] = <%= @voteable == true %>;
	// Exit tracking will catch a departing debater, unless "debater_waiting" becomes true by clicking the waiting icon
	debater_waiting = false; 
</script>

<%= render :partial => "/debates/juggernaut_debate_subscribe.js", :locals => {:debate => @debate} %>

<script>
	function debateEnd() {
		var debate_id = $(".debate").attr("data-id");
		<% if @debate.creator == @currentdebater %>
			$.ajax({
		      type: "POST",
		      url: "/debates/" + debate_id + "/end.js",
		      success: function(){
		        // alert("debate ended");
		      }
			});
		<% end %>
	}
	
	function endSingle(clock_position) {
		var debate_id = $(".debate").attr("data-id");
		<% if @debate.creator == @currentdebater %>
			$.ajax({
		      type: "POST",
		      url: "/debates/" + debate_id + "/end_single.js?clock_position=" + clock_position,
			  success: function(){
		         //alert("First timer ended");
		      }
		    });
		<% end %>
	}
	
	function endJudge() {
		var debate_id = $(".debate").attr("data-id");
		$('#judge-timer').remove();
		$('.judging_form').remove();
		<% if @debate.creator == @currentdebater %>
			$.ajax({
		      type: "POST",
		      url: "/debates/" + debate_id + "/end_judge.js",
			  success: function(){
		         //alert("Judge timer ended");
		      }
		    });
		<% end %>
	}
</script>

<!-- <div id="tracking" data-id="<%= @debate.id %>" data-debater_id="<%= @currentid %>" onclick="startTracking()"> Click to start tracking this debate</div> -->

<div class="topic_position_container">
	"<%= "#{@debate.tp.topic}" %>"
	<%= render :partial => "/debates/viewing", :locals => {:debate_id => @debate.id} %>
</div>

<div id="debatebody">
	<div class="debateleft">
		<div class="debatecontainer">
			<div class="containerpanel">
				<h2>
				<%= render :partial => "/debates/timers", :locals => {:debate_id => @debate.id, :debater1name => @debater1name, :debater2name => @debater2name, :debaters => @debaters, :judge => @debate.judge} %>
				<%# render :partial => "/debates/viewing", :locals => {:debate_id => @debate.id} %>
				</h2>
			</div>
			<%= render :partial => "/debates/debate", :locals => {:debate => @debate, :currentid => @currentid} %>			  
		</div>
		<%= render :partial => "/debates/post_to_debate", :locals => {:debate => @debate, :currentdebater => @currentdebater} %>
	</div>

<script>
	javascript_countdown.init(<%= @movingclock %>, <%= @staticclock %>, <%= @movingposition %>, <%= @debate.id %>);
	<% if @debaters.count <= 1 %>
		abort_timer[<%= @debate.id %>] = 1;
	<% end %>
</script>

	<div id="statuspanel">
		<!-- Show Debate Status -->
		<%= render :partial => "/debates/status", :locals => {:status => @status, :debate => @debate}  %>
		
		<!-- Show Judge Timer -->
		<% if @status[:status_code] == 4 %>
			<%= render :partial => "/judgings/judging_timer" %>
			<script> 
				abort_timer[<%= @debate.id %>] = 1;
				javascript_countdown.init(<%= $judgetime - (Time.now - @debate.end_time).seconds.to_i %>, 0, 3, <%= @debate.id %> ); 
			</script>
		<% end %>
		
		<!-- Show Judging Form -->
		<% @judging = @debate.judge_entry %>
		<% if !@judging.nil? and @currentdebater == @debate.judger and @judging.winner_id.nil? %>
			<% if !@debate.end_time.nil? and Time.now < @debate.end_time + $judgetime %>
				<%= render :partial => "/judgings/judging_form", :locals => {:judging => @judging} %>
			<% end %>
		<% end %>
		
		<!-- Show Judging Results -->
		<% if !@judging.nil? and !@judging.winner_id.nil? %>
			<%= render :partial => "/judgings/judging_results", :locals => {:judging => @judging} %>
		<% end %>
		
		<div id="debater-ratings">
			<!-- Show Debater Ratings -->
			<% if @status[:status_code] == 5 %>
				<%= render :partial => "/judgings/debater_ratings", :locals => {:judging => @judging} %>
			<% end %>
		</div>
		
		<!-- Show Debater Rating Form -->
		<% if @status[:status_code] == 5 %>
			<% if @currentdebater.id == @judging.winner_id and @judging.winner_approve.nil? %>
				<%= render :partial => "/judgings/rate_judge", :locals => {:judging => @judging, :debateid => @debate.id} %>
			<% end %>
			<% if @currentdebater.id == @judging.loser_id and @judging.loser_approve.nil? %>
				<%= render :partial => "/judgings/rate_judge", :locals => {:judging => @judging, :debateid => @debate.id} %>
			<% end %>
		<% end %>
		
	</div>
	
	<div id="footnotespanel">
		<h2>Footnotes<div class="info-icon" id="info-footnotes"><%= image_tag("question.gif", :alt => "Footnotes Help") %></div></h2>
		<div class="footnotescontent">
			<%= render @debate.footnotes %>
		</div>
	</div>
	<br><br>
	
</div>

<script>
// This function assures that the javascript runs only once the whole page is loaded
	$(document).ready(function() {
		
		setTimeout("javascript_countdown.startTimers()", 500); 
	});
</script>

<script>
      debate_id = <%= @debate.id %>
</script>

<%= javascript_include_tag "jquery_tips.js" %>
<%= javascript_include_tag "form_validations" %>