<%-# JAVASCRIPT FOR SHORT POLLING - BEGINNING%>
<script type="text/javascript">
$(function() {
  setTimeout(updateArguments, 5000);
});
function updateArguments() {
  var debate_id = $("#debate").attr("data-id");
 
  if ($(".argument").length > 0) {
    var after = $(".argument:last").attr("data-time");
  } else {
    var after = "0";
  }
  $.getScript("/arguments.js?debate_id=" + debate_id + "&after=" + after);
  setTimeout(updateArguments, 5000);
}
</script>
<%-# JAVASCRIPT FOR SHORT POLLING - END%>

<%-# JAVASCRIPT FOR VOTING - BEGINNING%>
<script type="text/javascript">
function incrementVotesFor(argument_id) {
  $(".votes_for_count[data-argument_id="+argument_id+"]").text(parseInt($(".votes_for_count[data-argument_id="+argument_id+"]").text())+1);
}

function incrementVotesAgainst(argument_id) {
  $(".votes_against_count[data-argument_id="+argument_id+"]").text(parseInt($(".votes_against_count[data-argument_id="+argument_id+"]").text())+1);
}
</script>
<%-# JAVASCRIPT FOR VOTING - END%>

<%-# JAVASCRIPT FOR TRACKING - BEGINNING%>
<script type="text/javascript">
function startTracking() {
	var debater_id = $("#tracking").attr("data-debater_id");
	var debate_id = $("#debate").attr("data-id");
	$.ajax({
      type: "POST",
      url: "/debaters/" + debater_id + "/trackings.js?debate_id=" + debate_id,
      success: function(){
        alert("started tracking debate");
      }
    });
}
</script>
<%-# JAVASCRIPT FOR TRACKING - END%>

<%-# JAVASCRIPT FOR STARTING TIMERS - BEGINNING%>
<script type="text/javascript">
	// This function assures that the javascript runs only once the whole page is loaded
	$(document).ready(function() {
	
		//time to countdown in seconds, and element ID
		javascript_countdown.init(<%= @movingclock %>, <%= @staticclock %>, <%= @movingposition %>);
	});
</script>
<%-# JAVASCRIPT FOR STARTING TIMERS - END%>

<%-# JAVASCRIPT FOR TIMERS - BEGINNING%>
<script>
var javascript_countdown = function () {
	
	keep_counting = 1;
	abort_timer = 0;
	
	var no_time_left_message = 'This Debater has no time!';
	
	
	function countdown() {
		
		if(moving_clock < 2) {
			keep_counting = 0;
		}
				
		moving_clock = moving_clock - 1;
		}
 
	function add_leading_zero(n) {
		if(n.toString().length < 2) {
			return '0' + n;
		} else {
			return n;
		}
	}

	function format_output(timetoformat) {
		var hours, minutes, seconds;
		seconds = timetoformat % 60;
		minutes = Math.floor(timetoformat / 60) % 60;
		hours = Math.floor(timetoformat / 3600);
 
		seconds = add_leading_zero( seconds );
		minutes = add_leading_zero( minutes );
		hours = add_leading_zero( hours );
 
		return hours + ':' + minutes + ':' + seconds;
	}
	
	function show_time_left() {
		document.getElementById(output_element_id).innerHTML = format_output(moving_clock);
		
	}
 
	function no_time_left(output) {
		document.getElementById(output).innerHTML = no_time_left_message;
	}
 
	return {
		
		count: function () {
			
			countdown();
			show_time_left();
		},
		
		timer: function () {
			if(keep_counting) {
				timeout_var = setTimeout("javascript_countdown.timer();", 1000);
				javascript_countdown.count();
				
				if (keep_counting == 0) {
					no_time_left(output_element_id);
				} 
				
				if (abort_timer == 1) {
					return;
				}
			}
		},
		//Kristian Messer requested recalculation of time that is left
		setTimeLeft: function (t) {
			moving_clock = t;
			if(keep_counting == 0) {
				javascript_countdown.timer();
			}
		},
		init: function (t, t2, moving_position) {
			
			
			moving_clock = t;
			static_clock = t2;
			move_position = moving_position // For use in short polling javascript function
			abort_timer = 0;
			
			if (moving_position == 1) {
				output_element_id = "position_1";
				static_element_id = "position_2";
			} else {
				output_element_id = "position_2";
				static_element_id = "position_1";
			}
					
			document.getElementById(static_element_id).innerHTML = format_output(static_clock);
			javascript_countdown.timer();
		}
	};
}();
</script>
<%-# JAVASCRIPT FOR TIMERS - END%>

<%-# -----------------------------------end of javascript----------------------------------------------%>

<div id="debate" data-id="<%= @debate.id %>"> This is debate id = <%= @debate.id %> </div>
<div id="tracking" data-id="<%= @debate.id %>" data-debater_id="<%= current_debater.id %>" onclick="startTracking()"> Click to start tracking this debate</div>
<div style="float:left";>Time Left for Debater 1: &nbsp;</div><div id="position_1"></div>
<div style="float:left";>Time Left for Debater 2: &nbsp;</div><div id="position_2"></div>
<br />

<%= render :partial => "/debates/debate", :locals => {:debate => @debate} %>

<br>

<%-# allow debater to join debate or argue if it is his turn%>
<div id="post_to_debate"> <%= render '/debates/post_to_debate' %> </div>

<br>

<%= @debate.current_turn.nil? ? "no one has joined" : @debate.current_turn.name %>

<p><%= link_to "Back to Debate List", debates_path %></p>

