<%= javascript_include_tag "short_polling" %>
<%= javascript_include_tag "voting" %>
<%= javascript_include_tag "exit_tracking" %>
<%= javascript_include_tag "timer_countdown" %>

<div id="tracking" data-id="<%= @debate.id %>" data-debater_id="<%= @currentid %>" onclick="startTracking()"> Click to start tracking this debate</div>

<div id = "debatebody">
  <div class="debatecontainer">
	<div class="containerpanel">
		<%= render :partial => "/debates/timers", :locals => {:debate_id => @debate.id} %>
		<%= render :partial => "/debates/viewing", :locals => {:debate_id => @debate.id} %>
	</div>
	<%= render :partial => "/debates/debate", :locals => {:debate => @debate} %>	
  </div>
  <%= render :partial => "/debates/post_to_debate", :locals => {:debate => @debate, :currentdebater => @currentdebater} %>
</div>

<%= @debate.current_turn.nil? ? "no one has joined" : @debate.current_turn.email %>

<script>
javascript_countdown.init(<%= @movingclock %>, <%= @staticclock %>, <%= @movingposition %>, <%= @debate.id %>);
</script>

<script>
// This function assures that the javascript runs only once the whole page is loaded
	$(document).ready(function() {
		
		setTimeout("javascript_countdown.startTimers()", 6000); 
	});
</script>


