<%= javascript_include_tag "short_polling" %>
<%= javascript_include_tag "voting" %>
<%= javascript_include_tag "exit_tracking" %>

<div> This is debate id = <%= @debate.id %> </div>
<div id="tracking" data-id="<%= @debate.id %>" data-debater_id="<%= @currentid %>" onclick="startTracking()"> Click to start tracking this debate</div>

<%= render :partial => "/debates/timers", :locals => {:debateid => @debate.id} %>
<br />

<%= render :partial => "/debates/debate", :locals => {:debate => @debate} %>

<br>

<%-# allow debater to join debate or argue if it is his turn%>
<%= render :partial => "/debates/post_to_debate", :locals => {:debate => @debate, :currentdebater => @currentdebater} %>

<br>

<%= @debate.current_turn.nil? ? "no one has joined" : @debate.current_turn.email %>

<p><%= link_to "Back to Debate List", debates_path %></p>

