<span class="page-title"><h1>DeBunk!</h1></span>

<span class="waiting-icon imgicon"><%= render :partial => "/debates/waiting", :locals => {:debate => @debate, :debater => @currentdebater, :participant => @participant, :status => @status} %> </span>

<br />

<!-- <%= javascript_include_tag "short_polling" %> -->
<%= javascript_include_tag "voting" %>
<%= javascript_include_tag "exit_tracking" %>
<%= javascript_include_tag "timer_countdown" %>
<%= javascript_include_tag "tracking" %>
<%= javascript_include_tag "image_sizes" %>

<%= render :partial => "/shared/init_juggernaut" %>

<script>
	voteable[<%= @debateid %>] = <%= @voteable == true && !@guest %>;
	argvoteable = new Array();
	argvoteable[0] = 1;
	joiner = new Array();
	joiner[<%= @debateid %>] = 0;
	// Exit tracking will catch a departing (participating) debater, unless "debater_waiting" becomes true by clicking the waiting icon
	debater_waiting = false;
	debater_participant = <%= @participant %>;
	debate_id = <%= @debateid %>; 
</script>

<%= render :partial => "/debates/juggernaut_debate_subscribe.js", :locals => {:debate => @debate, :debater => @currentdebater, :participant => @participant} %>

<script>
	function debateEnd() {
		var debate_id = $(".debate").attr("data-id");
		url = "/debates/" + debate_id + "/end.js";
		
		<% if @is_creator %>	
			endAjax(url);
		<% end %>
		if((<%= @is_joiner %>) || (joiner[<%= @debateid %>] == <%= @currentdebater.id %>)) {
			setTimeout("endAjax(url)", 1000);
		}
	}
	
	function endSingle(clock_position) {
		var debate_id = $(".debate").attr("data-id");
		url = "/debates/" + debate_id + "/end_single.js?clock_position=" + clock_position;
		<% if @is_creator %>
			endAjax(url);
		<% end %>
		if((<%= @is_joiner %>) || (joiner[<%= @debateid %>] == <%= @currentdebater.id %>)) {
			setTimeout("endAjax(url)", 1000);
		}
	}
	
	function endJudge() {
		var debate_id = $(".debate").attr("data-id");
		$('#judge-timer').remove();
		$('.judging_form').remove();
		url = "/debates/" + debate_id + "/end_judge.js";
		<% if @is_creator or @is_judger %>
			endAjax(url);
		<% end %>
	}
	
	function endAjax(post_url) {
		$.ajax({
	      type: "POST",
	      url: post_url,
		  success: function(){
	         
	      }
	    });
	}
</script>

<!-- <div id="tracking" data-id="<%= @debate.id %>" data-debater_id="<%= @currentid %>" onclick="startTracking()"> Click to start tracking this debate</div> -->

<span class="topic_vote imgicon"><%= render :partial => "/debates/topic_vote", :locals => {:debate => @debate} %> </span>

<div class="topic_position_container">
	"<%= "#{@debate.tp.topic}" %>"
	<%= render :partial => "/debates/viewing", :locals => {:debate => @debate, :viewers => @viewers} %>
</div>
<%= debater_signed_in? ? nil : "<br /> <br />".html_safe %>

<div id="debatebody">
	<div class="debateleft">
		<div class="debatecontainer">
			<div class="containerpanel">
				<h2>
				<%= render :partial => "/debates/timers", :locals => {:debate_id => @debateid, :debater1name => @debater1name, :debater2name => @debater2name, :creator => @creator, :joiner => @joiner, :status => @status, :debate => @debate, :currentid => @currentid} %>
				<%# render :partial => "/debates/viewing", :locals => {:debate_id => @debate.id} %>
				</h2>
			</div>
			<%= render :partial => "/debates/debate", :locals => {:debate => @debate, :currentid => @currentid, :arguments => @arguments, :status => @status, :timedout => @timedout, :creatorname => @debater1name} %>			  
		</div>
		<%= render :partial => "/debates/post_to_debate", :locals => {:debate => @debate, :currentdebater => @currentdebater, :is_creator => @is_creator, :participant => @participant, :debatercount => @debatercount, :status => @status, :timedout => @timedout } unless @blocking %>
	</div>

<script>
	javascript_countdown.init(<%= @movingclock %>, <%= @staticclock %>, <%= @movingposition %>, <%= @debateid %>);
	<% if !@debate.joined %>
		abort_timer[<%= @debateid %>] = 1;
	<% end %>
</script>

	<div id="statuspanel">
		<!-- Show Debate Status -->
		<%= render :partial => "/debates/status", :locals => {:status => @status, :debate => @debate, :is_creator => @is_creator, :is_joiner => @is_joiner}  %>
		
		<!-- Show Judge Timer -->
		<% if @status[:status_code] == 4 %>
			<%= render :partial => "/judgings/judging_timer" %>
			<script> 
				abort_timer[<%= @debateid %>] = 1;
				javascript_countdown.init(<%= $judgetime - (Time.now - @debate.end_time).seconds.to_i %>, 0, 3, <%= @debateid %> ); 
			</script>
		<% end %>
		
		<!-- Show Judging Form -->
		<% @judging = @debate.judge_entry %>
		<% if !@judging.nil? and @currentdebater.id == @debate.judge_id and @judging.winner_id.nil? %>
			<% if !@debate.end_time.nil? and Time.now < @debate.end_time + $judgetime %>
				<%= render :partial => "/judgings/judging_form", :locals => {:judging => @judging} %>
			<% end %>
		<% end %>
		
		<!-- Show Judging Results -->
		<% if !@judging.nil? and !@judging.winner_id.nil? %>
			<%= render :partial => "/judgings/judging_results", :locals => {:judging => @judging, :creator => @creator, :joiner => @joiner} %>
		<% end %>
		
		<div id="debater-ratings">
			<!-- Show Debater Judge Ratings -->
			<% if @status[:status_code] == 5 %>
				<%= render :partial => "/judgings/debater_ratings", :locals => {:judging => @judging, :debate => @debate} %>
			<% end %>
		</div>
		
		<div class="score-updates hidden">
			<!-- Show Debater Scores -->
			<% unless @currentdebater.guest? %>
				<%= render :partial => "/debates/debater_scores" %>
			<% end %>
		</div>
		
		<!-- Show Debater Rating Form -->
		<% if @status[:status_code] == 5 %>
			<% if @judging.winner_approve.nil? and ((@currentdebater.id == @judging.winner_id) or (@judging.winner_id == 0 and @currentdebater.id == @debate.creator_id)) %>
				<%= render :partial => "/judgings/rate_judge", :locals => {:judging => @judging, :debateid => @debateid} %>
			<% end %>
			<% if @judging.loser_approve.nil? and ((@currentdebater.id == @judging.loser_id) or (@judging.winner_id == 0 and @currentdebater.id == @debate.joiner_id)) %>
				<%= render :partial => "/judgings/rate_judge", :locals => {:judging => @judging, :debateid => @debateid} %>
			<% end %>
		<% end %>
		
	</div>
	
	<div id="footnotespanel">
		<h2>Footnotes<div class="info-icon" id="info-footnotes"><%= image_tag("question.gif", :alt => "Footnotes Help") %></div></h2>
		<div class="footnotescontent">
			<%= render @debate.footnotes %>
		</div>
	</div>
	<br><br>
	
</div>

<audio id="soundHandle" style="display: none;" preload="auto" autobuffer>
	<source src="/assets/gavel.wav" type="audio/wav"/>
	<source src="/assets/gavel.mp3" type="audio/mpeg" />
</audio>
	
<script>
// This function assures that the javascript runs only once the whole page is loaded
	$(document).ready(function() {
		<% if @status[:status_code] >= 3 %>
			abort_timer[<%= @debateid %>] = 0;
		<% else %>
			$(window).scrollTop(65);
		<% end %>
		setTimeout("javascript_countdown.startTimers()", 500);
	});
</script>


<%= javascript_include_tag "form_validations" %>
