<span class="page-title"><h1>Debate!</h1></span>
<br />

<!-- <%= javascript_include_tag "short_polling" %> -->
<%= javascript_include_tag "voting" %>
<%= javascript_include_tag "exit_tracking" %>
<%= javascript_include_tag "timer_countdown" %>
<%= javascript_include_tag "tracking" %>
<%= javascript_include_tag "form_validations" %>

<% if Rails.env.development? or Rails.env.test? %>
	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	  var jug = new Juggernaut;
	</script>
	
<% else %>	
	<script src="http://debate-app-jug.herokuapp.com:80/application.js" type="text/javascript"></script>
	<script type="text/javascript">
	  var jug = new Juggernaut({     
	     host: 'debate-app-jug.herokuapp.com',
	     port: 80,
		 secure: false,
		 transports: ['xhr-polling', 'jsonp-polling']
	  });	
	</script>
<% end %>

<script>
	voteable[<%= @debate.id %>] = <%= @voteable == true %>;
</script>

<%= render :partial => "/debates/juggernaut_debate_subscribe.js", :locals => {:debate => @debate} %>

<script>
	function debateEnd() {
		var debate_id = $(".debate").attr("data-id");
		<% if @debate.creator == @currentdebater %>
			$.ajax({
		      type: "POST",
		      url: "/debates/" + debate_id + "/end.js",
		      success: function(){
		        // alert("debate ended");
		      }
			});
		<% end %>
	}
	
	function endSingle() {
		var debate_id = $(".debate").attr("data-id");
		<% if @debate.creator == @currentdebater %>
			$.ajax({
		      type: "POST",
		      url: "/debates/" + debate_id + "/end_single.js",
			  success: function(){
		         //alert("First timer ended");
		      }
		    });
		<% end %>
	}
</script>

<!-- <div id="tracking" data-id="<%= @debate.id %>" data-debater_id="<%= @currentid %>" onclick="startTracking()"> Click to start tracking this debate</div> -->

<div class="topic_position_container">
	<%= "#{@debate.tp.topic}" %>
	<%= render :partial => "/debates/viewing", :locals => {:debate_id => @debate.id} %>
</div>

<div id="debatebody">
	<div class="debateleft">
		<div class="debatecontainer">
			<div class="containerpanel">
				<h2>
				<%= render :partial => "/debates/timers", :locals => {:debate_id => @debate.id, :debater1name => @debater1name, :debater2name => @debater2name, :debaters => @debaters, :judge => @debate.judge} %>
				<%# render :partial => "/debates/viewing", :locals => {:debate_id => @debate.id} %>
				</h2>
			</div>
			<%= render :partial => "/debates/debate", :locals => {:debate => @debate, :currentid => @currentid} %>			  
		</div>
	</div>

<script>
	javascript_countdown.init(<%= @movingclock %>, <%= @staticclock %>, <%= @movingposition %>, <%= @debate.id %>);
	<% if @debaters.count <= 1 %>
		abort_timer[<%= @debate.id %>] = 1;
	<% end %>
</script>

	<div id="statuspanel">
		<%= render :partial => "/debates/status", :locals => {:status => @status, :debate => @debate}  %>
		
		<% if @debate.status[:status_code] == 4 %>
			<%= render :partial => "/judgings/judging_timer" %>
			<script> 
				abort_timer[<%= @debate.id %>] = 1;
				javascript_countdown.init(<%= $judgetime - (Time.now - @debate.end_time).seconds.to_i %>, 0, 3, <%= @debate.id %> ); 
			</script>
		<% end %>
		
		<% @judging = @debate.judge_entry %>
		<% if !@judging.nil? and @currentdebater == @debate.judger and @judging.winner_id.nil? %>
			<% if !@debate.end_time.nil? and Time.now < @debate.end_time + $judgetime %>
				<%= render :partial => "/judgings/judging_form", :locals => {:judging => @judging} %>
			<% end %>
		<% end %>
		<% if !@judging.nil? and !@judging.winner_id.nil? %>
			<%= render :partial => "/judgings/judging_results", :locals => {:judging => @judging, :upvotes => @upvotes, :downvotes => @downvotes} %>
		<% end %>
	</div>
	
	<div id="footnotespanel">
		<h2>Footnotes</h2>
		<div class="footnotescontent">
			<%= render @debate.footnotes %>
		</div>
	</div>
	<br><br>
	<%= render :partial => "/debates/post_to_debate", :locals => {:debate => @debate, :currentdebater => @currentdebater} %>
</div>

<script>
// This function assures that the javascript runs only once the whole page is loaded
	$(document).ready(function() {
		
		setTimeout("javascript_countdown.startTimers()", 500); 
	});
</script>

