<%= javascript_include_tag "form_validations" %>
<%= javascript_include_tag "jquery.jcarousel.min" %>

<span class="page-title"><h1>Welcome to DeBunky!</h1></span>
<br><br>

<div>
<div class="landing_container_left">
	<h2>Debunk </h2>
	<div class="middlelanding">
		<div id ="topicform">
			<div class="buttond2">
				<span class="debate-topic-position">
					<%= render '/topic_positions/form_landing_topic' %>
				</span>
			</div>
		</div>
		
		<div id="versusform" class="hidden">
			<div class="buttond2">
				<span class="debate-topic-position">
					<%= render '/topic_positions/form_landing_versus' %>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="landing_container_right">
	<h2>Judge </h2>
	<div class="middlelanding">
		<div class="buttond2">
			<h3>Choose a Debate to Judge</h3>
			<!--<buttond>
					<%= link_to "Debates", judgings_path %>
			</buttond> -->
			<%= form_for :judgingindex, :url => {:controller => :judgings, :action => "index"} do |f| %>
				
				<span class="action-judgings">
					<%= f.submit "Debates" %>
				</span>	
			<% end %>
		</div>
	</div>
</div>

<div class="or_container">
	<h2>or</h2>
</div>
</div>

<div style="clear:both;">
	<br>
	<div id="suggested-topics">
		<%= render :partial => "/topic_positions/list_suggested_topics_landing", :locals => {:trending => @trending} %>
	</div>
</div>

<script>
	function mycarousel_initCallback(carousel)
	{
	    // Disable autoscrolling if the user clicks the prev or next button.
	    carousel.buttonNext.bind('click', function() {
	        carousel.startAuto(0);
	    });

	    carousel.buttonPrev.bind('click', function() {
	        carousel.startAuto(0);
	    });

	    // Pause autoscrolling if the user moves with the cursor over the clip.
	    carousel.clip.hover(function() {
	        carousel.stopAuto();
	    }, function() {
	        carousel.startAuto();
	    });
	};
	
	$(document).ready(function() {
	    $('#mycarousel').jcarousel({
	     	auto: 1,
			wrap: 'last',
			scroll: 1,
			vertical: true,
			initCallback: mycarousel_initCallback
	    });
	});
</script>