<%= javascript_include_tag "form_validations" %>

<span class="page-title"><h1>Welcome to DeBunky.com!</h1></span>
<br>

<div class="landing_container_left">
	<h2>Debate </h2>
	<div class="middlelanding">
		<div class="buttond2">
			<span class="debate-topic-position">
				<%= render '/topic_positions/form_landing_topic' %>
			</span>
		</div>
	</div>
</div>

<div class="landing_container_right">
	<h2>Judge </h2>
	<div class="middlelanding">
		<div class="buttond2">
			<h3>Choose a Debate to Judge</h3>
			<!--<buttond>
					<%= link_to "Debates", judgings_path %>
			</buttond> -->
			<%= form_for :judgingindex, :url => {:controller => :judgings, :action => "index"} do |f| %>
				
				<span class="action-judgings">
					<%= f.submit "Debates" %>
				</span>	
			<% end %>
		</div>
	</div>
</div>

<div class="or_container">
	<h2>or</h2>
<div>
