<% last_vote_for = argument.votes.where("vote = ?", "t").last %>
<% last_vote_against = argument.votes.where("vote = ?", "f").last %>

<div class = "votes" data-argument_id = "<%= argument.id %>">

  <div class = "votes_for" data-argument_id = "<%= argument.id %>">
    <div class="votes_for_count" onclick="upVote(<%= argument.id.to_s %>, true, <%= argument.debate_id %>)" 
				data-argument_id="<%= argument.id %>" data-time="<%= last_vote_for.created_at.to_i unless last_vote_for.nil? %>">
      <%= argument.votes_for %>
    </div>
  </div>
 
  <div class = "votes_against" data-argument_id = "<%= argument.id %>"> 
    <div class="votes_against_count" onclick="downVote(<%= argument.id.to_s %>, false, <%= argument.debate_id %>)" 
				data-argument_id="<%= argument.id %>" data-time="<%= last_vote_against.created_at.to_i unless last_vote_against.nil? %>">
      <%= argument.votes_against %>
    </div>
  </div>
  
</div>
<br /><br/>