<% last_vote_for = argument.votes.where("vote = ?", "t").last %>
<% last_vote_against = argument.votes.where("vote = ?", "f").last %>

<div class = "votes" data-argument_id = "<%= argument.id %>">
  <div class = "votes_for" data-argument_id = "<%= argument.id %>">
    <%= form_for Vote.new, :remote => true, :html => {:class => "vote_for_form", :onsubmit => 'incrementVotesFor(' + argument.id.to_s + ')'} do |f| %>
      <div class = "button">
      <%= f.hidden_field :votable_id, :value => argument.id %>
      <%= f.hidden_field :vote, :value => true %>  
      <%= f.submit "(+)" %>
      </div>	
    <% end %> 
    <div class = "votes_for_count" data-argument_id = "<%= argument.id %>" data-time="<%= last_vote_for.created_at.to_i unless last_vote_for.nil? %>">
      <%= argument.votes_for %>
    </div>
  </div>
  <br />
  <div class = "votes_against" data-argument_id = "<%= argument.id %>"> 
    <%= form_for Vote.new, :remote => true, :html => {:class => "vote_against_form", :onsubmit => 'incrementVotesAgainst(' + argument.id.to_s + ')'} do |f| %>
      <div class = "button">
      <%= f.hidden_field :votable_id, :value => argument.id %>
      <%= f.hidden_field :vote, :value => false %>  
      <%= f.submit "(-)" %>
      </div>
    <% end %>
    <div class = "votes_against_count" data-argument_id = "<%= argument.id %>" data-time="<%= last_vote_against.created_at.to_i unless last_vote_against.nil? %>">
      <%= argument.votes_against %>
    </div>
  </div>
  <br />
</div>