<%# last_vote_for = argument.votes.where("vote = ?", "t").last(:order => "created_at ASC") %>
<%# last_vote_against = argument.votes.where("vote = ?", "f").last(:order => "created_at ASC") %>

<div class = "votes_for" data-argument_id = "<%= argument.id %>">
  <div class="votes_for_count" onclick="upVote(<%= argument.id.to_s %>, true, <%= argument.debate_id %>)" 
		data-argument_id="<%= argument.id %>">
    	
<%= argument.votes_for_by(judgeid) %>
  </div>
</div>

<div class = "votes_against" data-argument_id = "<%= argument.id %>"> 
  <div class="votes_against_count" onclick="downVote(<%= argument.id.to_s %>, false, <%= argument.debate_id %>)" 
		data-argument_id="<%= argument.id %>">
    	-<%= argument.votes_against_by(judgeid) %>
  </div>
</div>
  
<br />