<%= form_for(TopicPosition.new) do |f| %>
	<div class = "field">
		<%= f.label :topic %> <br />
		<%= f.text_field :topic %><br />
		<%= f.select(:position, [["Pro", true], ["Con", false]]) %><br />
	</div>
	<div class = "action">
		<%= f.submit "submit" %>
	</div>	
<% end %>