<!-- form class attribute is set to new_topic_position -->
<%= form_for :topic_position, :url => {:controller => :topic_positions, :action => "create"}, :html => {:name => 'topicform', :class => 'new_topic_position', :onsubmit => "return checkEmpty('topicform', 'topic_position[topic]');"} do |f| %>
	<div class="field-topicposition">
		<span class="field-topic">
			<%= f.label :topic %> <br>
			<%= f.text_field :topic, :onkeyup => "textCounter(this, 5);" %>
		</span>
		<span class="field-position">		
			<%= f.label :position %> <br>	
			<%= f.select(:position, [["Pro", true], ["Con", false]]) %>
		</span>
	</div>
	<div class="action-topicposition">
		<%= f.submit "Match" %>
	</div>	
<% end %>