<!-- form class attribute is set to new_topic_position -->
<%= form_for :topic_position, :url => {:controller => "topic_positions", :action => "matches"}, :html => {:name => 'topicform', :class => 'new_topic_position', :onsubmit => "return checkEmpty('topicform', 'topic_position[topic]'); "}, :remote => true do |f| %>
	<div class="field-topicposition">
		<span class="field-topic">
			<%= f.label :topic %> <br>
			<%= f.text_field :topic, :onkeyup => "textCounter(this, 65);", :onClick => "if(this.value.substr(0,3) == '...') {this.value='';}" %>
		</span>
		<span class="field-position">		
			<%= f.label :position %> <br>	
			<%= f.select(:position, [["Pro", true], ["Con", false]]) %>
		</span>
	</div>
	<div class="action-topicposition">
		<%= f.submit "Match", :disable_with => 'Searching...' %>
	</div>	
<% end %>