<%= javascript_include_tag "form_validations" %>

<% if Rails.env.development? or Rails.env.test? %>
	<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	  var jug = new Juggernaut;
	</script>

<% else %>	
	<script src="http://debate-app-jug.herokuapp.com:80/application.js" type="text/javascript"></script>
	<script type="text/javascript">
	  var jug = new Juggernaut({     
	     host: 'debate-app-jug.herokuapp.com',
	     port: 80,
		 secure: false,
		 transports: ['xhr-polling', 'jsonp-polling']
	  });	
	</script>
<% end %>

<script type="text/javascript">
  jug.subscribe("matches", function(data){
	// alert(data.debate_id);
	// $(".debate_link[data-id="+ data.debate_id +"]").hide();
	if (data.func == "hide") {
		$(".debate_link[data-id="+ data.obj +"]").hide();
	}
	if (data.func == "unhide") {
		$(".debate_link[data-id="+ data.obj +"]").show();
	}
	if (data.func == "append_to_matching") {
		$("#matching_debates").append(data.obj);
	}
	if (data.func == "append_to_suggested") {
		$("#suggested_debates").append(data.obj);
	}
  });
</script>

<span class="page-title"><h1> Start Debunking! </h1></span>
<br>

<!--<div class="topic_position_container">
	<%# "#{@topic_position.position == true ? "You are PRO" : "You are CON"} #{@topic_position.topic}." %>
</div>
<br> -->

<div class="topic_container">
	<h2> Choose a Topic</h2>

	<div id="topicform">
		<div class="buttond2">
			<span class="debate-topic-position">
				<%= render '/topic_positions/form_topic_position' %>
			</span>
		</div>
	</div>
	
	<div id="versusform" class="hidden">
		<div class="buttond2">
			<span class="debate-topic-position">
				<%= render '/topic_positions/form_versus_position' %>
			</span>
		</div>
	</div>
	
	<br />
	

	<%= render :partial => "/topic_positions/form_new_debate", :locals => {:topic_position => @topic_position} %> 

</div>


	



<div class="create_container">
	<h2> Match Up </h2>
	<div id="matching-debates" class="list_matches_container">
			<%= render :partial => "/topic_positions/list_matching_debates", :locals => {:matching => @matching} %> 	
	</div>
	
	<div id="suggested-debates" class="list_matches_container">
		<%= render :partial => "/topic_positions/list_suggested_debates", :locals => {:matching => @matching} %>
	</div>
	
	<div id="suggested-debates" class="list_matches_container">
		<%= render :partial => "/topic_positions/list_suggested_topics", :locals => {:trending => @trending} %>
	</div>
</div>

<!--<div class="or_container">
	<h2>or</h2>
</div> -->
 
<script>
$('#matching-debates').bind('ajax:success', function() {  
    $(this).closest('tr').fadeOut();  
});
</script>
