<% if @matching_debates.empty? %>
	<br> <br>
	No Matching Debates Found <br> 
	Write Your First Argument Below and Create a New Debate!! <br><br>
	<%= form_for Argument.new, :url => {:controller => "debates", :action => "create"} do |f| %>
		<div class = "field">
			<%= f.label :content %> <br />
			<%= f.text_area :content, :size => "36x5" %> <br />
			<%= f.label "Allotted Minutes" %> <br/>
			<%= f.number_field :time_left, :value => 10 %>
		</div>
		<%= f.hidden_field :topic_position_id, :value => @topic_position.id %>
		<div class = "action">
			<%= f.submit "argument" %>
		</div>	
	<% end %>
<% else %>
	<script src="http://debate-app-jug.herokuapp.com:80/application.js" type="text/javascript"></script>

	<script type="text/javascript"> 
	  var jug = new Juggernaut({     
	     host: 'debate-app-jug.herokuapp.com',
	     port: 80,
		 secure: false,
		 transports: ['xhr-polling', 'jsonp-polling']
	  });

	  jug.subscribe("matches", function(data){
		// alert(data.debate_id);
		$(".debate_link[data-id="+ data.debate_id +"]").hide();
	  });
	</script>

	<h1> List of Matching Debates </h1>

	<% @matching_debates.each do |matching_debate| %>
		
		<div class="debate_link" data-id="<%= matching_debate.id %>"> 
			<%= "#{matching_debate.topic_positions.first(:order => "created_at ASC").position == true ? "PRO" : "CON"}: #{matching_debate.topic_positions.first(:order => "created_at ASC").topic}"%> <br> <%= link_to matching_debate.topic, matching_debate %>
		</div>
	<% end %>
	<br> <br>
	Don't Find a Matching Debate? <br> 
	Write Your First Argument Below and Create a New Debate!! <br><br>
	<%= form_for Argument.new, :url => {:controller => "debates", :action => "create"} do |f| %>
		<div class = "field">
			<%= f.label :content %> <br />
			<%= f.text_area :content, :size => "36x5" %> <br />
			<%= f.label "Allotted Minutes" %> <br/>
			<%= f.number_field :time_left, :value => 10 %>
		</div>
		<%= f.hidden_field :topic_position_id, :value => @topic_position.id %>
		<div class = "action">
			<%= f.submit "argument" %>
		</div>	
	<% end %>
<% end %>