<%= javascript_include_tag "form_validations" %>
<%= javascript_include_tag "jquery.qtip" %>

<%= render :partial => "/shared/init_juggernaut" %>

<script type="text/javascript">
  jug.subscribe("matches", function(data){
	// alert(data.debate_id);
	// $(".debate_link[data-id="+ data.debate_id +"]").hide();
	if (data.func == "hide") {
		$(".debate_link[data-id="+ data.obj +"]").hide();
	}
	if (data.func == "unhide") {
		$(".debate_link[data-id="+ data.obj +"]").show();
	}
	if (data.func == "append_to_matching") {
		$("#matching_debates").append(data.obj);
	}
	if (data.func == "append_to_suggested") {
		$("#suggested_debates").append(data.obj);
	}
  });
</script>

<span class="page-title"><h1> Start Debunking! </h1></span>
<br>

<!--<div class="topic_position_container">
	<%# "#{@topic_position.position == true ? "You are PRO" : "You are CON"} #{@topic_position.topic}." %>
</div>
<br> -->

<div class="topic_container">
	<h2> Choose a Topic</h2>

	<div id="topicform">
		<div class="buttond2">
			<span class="debate-topic-position">
				<%= render '/topic_positions/form_topic_position' %>
			</span>
		</div>
	</div>
	
	<div id="versusform" class="hidden">
		<div class="buttond2">
			<span class="debate-topic-position">
				<%= render '/topic_positions/form_versus_position' %>
			</span>
		</div>
	</div>
	
	<br />
	<br />
	
	<%= render :partial => "/topic_positions/form_new_debate", :locals => {:topic_position => @topic_position, :hidden => (!@matches.nil? or @matching.nil?)} %> 
	<br />
	<div id="suggested-topics" class="list_matches_container flat">
		<%= render :partial => "/topic_positions/list_suggested_topics", :locals => {:trending => @trending} %>
	</div>
	<br />
</div>


	



<div class="create_container">
	<h2> Matches </h2>
	
	<div id="matching-debates" class="list_matches_container">
			<%= render :partial => "/topic_positions/list_matching_debates", :locals => {:matching => @matching} %> 	
	</div>
	<br />
	<div id="suggested-debates" class="list_matches_container">
		<%= render :partial => "/topic_positions/list_suggested_debates", :locals => {:matching => @matching} %>
	</div>
	
	
</div>

 
<% if @from_landing == true %> 
	<script>
		// Update the Matching Debates
		$('#matching-debates').html("<%= escape_javascript(render(:partial => "topic_positions/list_matching_debates", :locals => {:matching => @matching}, :layout => false) ) %>");

		// Update the Suggested Debates
		$('#suggested-debates').html("<%= escape_javascript(render(:partial => "topic_positions/list_suggested_debates", :locals => {:matching => @matching}, :layout => false) ) %>");

		//Update the "First Argument" text box, if debater is allowed to create a new debate
		<% unless current_or_guest_debater.waiting_for or @matching == nil %>
			$('.create_form_container').html("<%= escape_javascript(render(:partial => "topic_positions/form_new_debate", :locals => {:topic_position => @topic_position}, :layout => false) ) %>");
			$('#first-argument').attr('disabled', false);
			$('#first-argument').css('background-color', "#ffffff");
			$('#first-argument').css('color', "#444444");
			$('#first-argument').html("Your thoughts about <%= @topic_position.topic %>...?");
			$('#first-argument-button').attr('disabled', true);
			$('.create_form_container').show();
		<% end %>

		//Refresh the topic field with the topic, in case the topic was chosen by clicking an outside link
		$('#topic-position-field').val("<%= @topic_position.topic %>");

		// Scroll to the bottom of the page if there are no matches.  Focus on the create box
		<% if @matching[:matching_debates].empty? %>
			window.scrollTo(0,100);
			$('#first-argument').focus();
			$('#matching-debates').removeClass('pop');
		<% else %>
			// If there are matches, make the matches container pop out
			$('#matching-debates').addClass('pop');
		<% end %>
	</script>
	
<% end %>

