<!DOCTYPE html>
<html>
<head>
  	<title>DeBunky</title>
  	<%= stylesheet_link_tag "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div id = "debater_nav">
	    <div class="nav">
			<div id="general-links">
				<%= link_to 'Debate', new_topic_position_path %>
				<%= link_to 'Judge', judgings_path %>
				<%= link_to 'View', debates_path %>
				<%= link_to 'Rankings', debaters_path %>				
				<!-- <%= link_to 'Blog', 'http://debunky.tumblr.com' %> -->
			</div>
			<div id="user-info">
				<% if debater_signed_in? %>
					<span class="username"> <%= link_to current_debater.name, current_debater %> </span>
					<%= link_to 'Sign out', destroy_debater_session_path, :method => :delete %>
					<!-- <%= link_to 'Trackings', debater_trackings_path(current_debater) %> | -->
			    <% else %>
			        <%= link_to 'Login', new_debater_session_path %> or <%= link_to 'Register', new_debater_registration_path %>
			    	<!-- <%= link_to "Sign in with Facebook", debater_omniauth_authorize_path(:facebook) %> |
					<%= link_to "Sign in with Twitter", debater_omniauth_authorize_path(:twitter) %> | -->
				<% end %>
			</div>
			<div id="center-links">Feedback: debunky@gmail.com </div>
		</div>
	</div>
	
	<%= render :partial => "/layouts/instruction_boxes" %>
	
	<div class= "sitewidth">
		<% flash.each do |key, value| %>
			<% if key == :alert %> 
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
		<% end %>
		
		<%= yield %>
	</div>
	
	<%= render :partial => "/layouts/waiting_box" %>
	
	
</body>

</html>
