<!DOCTYPE html>
<html>
<head>
  	<title>DeBunky</title>
  	<%= stylesheet_link_tag "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div id = "debater_nav">
	    <div class="nav">
			<div id="general-links">
				<%= link_to 'Debate', new_topic_position_path %>
				<%= link_to 'Judge', judgings_path %>
				<%= link_to 'View', debates_path %>
				<%= link_to 'Rankings', debaters_path %>				
				<!-- <%= link_to 'Blog', 'http://debunky.tumblr.com' %> -->
			</div>
			<div id="user-info">
				<% if debater_signed_in? %>
					<span class="username"> <%= link_to current_debater.name, current_debater %> </span>
					<%= link_to 'Sign out', destroy_debater_session_path, :method => :delete %>
					<!-- <%= link_to 'Trackings', debater_trackings_path(current_debater) %> | -->
			    <% else %>
			        <%= link_to 'Login', new_debater_session_path %> or <%= link_to 'Register', new_debater_registration_path %>
			    	<!-- <%= link_to "Sign in with Facebook", debater_omniauth_authorize_path(:facebook) %> |
					<%= link_to "Sign in with Twitter", debater_omniauth_authorize_path(:twitter) %> | -->
				<% end %>
			</div>
			<div id="center-links">Feedback: debunky@gmail.com </div>
		</div>
	</div>
	
	<% if request.url.index("debates/") and 0 == 1 %>
		<div class="instruction_box">
			<h3>Instructions</h3>
			<p class="cat-note"><span class="cat">Note:</span> Always click "leave page" if a pop-up appears, even when refreshing (but definitely feel free to refresh, it just treats a refresh as you leaving the page and then coming back!).</p>
			<p><span class="cat">Status:</span> If a Debater or Judge joins the debate, a box will pop up for them in the panel to the right of the main debate panel.  The box will be green if they are currently viewing the debate. </p>
			<p><span class="cat">Voting:</span> Click on the numbers to the right of each argument to upvote or downvote an argument as many times as you like.</p>
			<p><span class="cat">Footnotes:</span> Use double parenthesis like ((this)) to add footnotes to your arguments</p>
			<!-- <span class="instruc_example"> &nbsp ((this is a footnote))</span> -->
		
		</div>
	<% end %>
	
	<% if request.url.index("judgings") and 0 == 1 %>
		<div class="instruction_box">
			<h3>Instructions</h3>
			<p class="cat-note"><span class="cat"> Note: </span> The debate will start immediately with you as the judge if you click on the link!</p>
		
		</div>
	<% end %>	
	
	<div class= "sitewidth">
		<% flash.each do |key, value| %>
			<% if key == :alert %> 
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
		<% end %>
		
		<%= yield %>
	</div>
</body>

</html>
