<!DOCTYPE html>
<html>
<head>
  <title>#</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="debater_nav">
    <% if debater_signed_in? %>
        <%= link_to current_debater.email, current_debater %> |
		<%= link_to 'Trackings', debater_trackings_path(current_debater) %> |
        <%= link_to 'Sign out', destroy_debater_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Register', new_debater_registration_path %> or <%= link_to 'Sign in', new_debater_session_path %>
    <% end %>
</div>
<%= yield %>

</body>
</html>
