<!DOCTYPE html>
<html>
<head>
  	<title>DeBunky</title>
	<%= stylesheet_link_tag "application" %>
  	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery.qtip" %>
  	<%= csrf_meta_tags %>
		
</head>
<body class="<%= @bg2 ? 'bg2' : ''%>">
	<% @thisdebater = current_or_guest_debater %>
	<%= render :partial => "/layouts/navigation", :locals => {:thisdebater => @thisdebater} %>
	
	<%= render :partial => "/layouts/instruction_boxes" %>
	<%= render :partial => "/shared/init_juggernaut" %>
	
	<div class= "sitewidth <%= @bg2 ? 'bg2' : ''%>">
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		
		<%= yield %>
	</div>
	<%= render :partial => "/layouts/waiting_box", :locals => {:thisdebater => @thisdebater} %>
	
	<script>
		// Subscribe debater to the Waiting Channel if he/she is currently waiting
		$(document).ready(function(){
			<% if @thisdebater %>
				<% unless @thisdebater.waiting_for == nil %>

					<% debate = Debate.find_by_id(@thisdebater.waiting_for) %>	
					<% unless debate.end_time %>
					
							jug.subscribe("waiting_channel", function(data){  
								if ((data.func == "debate_update") && (data.obj.debate == <%= @thisdebater.waiting_for %>)) {
									$('.waiting_content').html(data.obj.status_value);
									if(data.obj.status_code == 3) {
										$(".waiting_box").children("h3").html("Debate Started!");
										$(".waiting_box").children("h3").css("background-color", "red");
										soundGavel = document.getElementById('soundHandle');
										soundGavel.play(); // Play the gavel sound
									}
								}	
							});

					<% end %>

				<% end %>
			<% end %>
		});
	</script>
	<%= javascript_include_tag "jquery_tips" %>
</body>
</html>
