<h1>Trackings#index</h1>

<%= @tracking_debates.size %><br><%= @tracking_debates %>
<br><br>
<%= @tracking_debates_arguments.size %><br><%= @tracking_debates_arguments %>
<br><br>

<% @tracking_debates.each_with_index do |debate, index| %>
  <% arguments = @tracking_debates_arguments[index] %>
  <%= render :partial => "/debates/debate", :locals => {:debate => debate, :arguments => arguments} %>
<% end %>