<!-- <%= javascript_include_tag "short_polling" %> -->
<%= javascript_include_tag "voting" %>
<%= javascript_include_tag "exit_tracking" %>
<%= javascript_include_tag "timer_countdown" %>
<%= javascript_include_tag "tracking"%>
<script src="redis://redistogo:5439f70de5e485ed6ec83e26cc28edde@stingfish.redistogo.com:9222/application.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8"> 
  var jug = new Juggernaut;
</script>

<h1>Tracking</h1>

<div id = "debatebody">
<% @tracking_debates.each do |debate| %>
  <!-- juggernaut subscribe to debates -->
  <%= render :partial => "/debates/juggernaut_debate_subscribe.js", :locals => {:debate => debate} %>

  <div class="trackingdebatecontainer">
	
	<div class="containerpanel">
		<% # Debater names %>
		<% @debaters = debate.debaters %>
		<% @currentdebater == @debaters[0] ? @debater1 = "You" : @debater1 = @debaters[0].email %>
		<% @currentdebater == @debaters[1] ? @debater2 = "You" : @debater2 = @debaters[1].email unless @debaters.size == 1 %>
		<% @debater2.nil? ? @debater2 = "None" : nil %>
		<%= render :partial => "/debates/timers", :locals => {:debate_id =>  debate.id, :debater1 => @debater1, :debater2 => @debater2} %>
		<%= render :partial => "/debates/viewing", :locals => {:debate_id =>  debate.id, :debater1 => @debater1, :debater2 => @debater2} %>
	</div>
	<%= render :partial => "/debates/debate", :locals => {:debate => debate} %>
	<%= render :partial => "/debates/post_to_debate", :locals => {:debate => debate, :currentdebater => @currentdebater} %>
	
	<script>$.getScript("/debates/<%= debate.id %>.js"); // Initialize the timers for every debate</script>
	
  </div>
<% end %>
</div>
<script>
// This function assures that the javascript runs only once the whole page is loaded
	$(document).ready(function() {
		
		setTimeout("javascript_countdown.startTimers()", 1000); 
	});
</script>

